@import "~antd/dist/antd.css";


/* || CUSTOM PROPERTIES */
:root {
  --color-primary: #001529;
}

/* || GENERAL STYLES */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}