@import "~antd/dist/antd.css";


/* || CUSTOM PROPERTIES */
:root {
  --color-primary: #001529;
}

/* || GENERAL STYLES */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

/* || APP */
.app {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
}

/* || NAVBAR */
.nav-container {
  background-color: var(--color-primary);
  width: 300px;
  color: #fff;
}

.logo-and-title {
  padding: 1.25rem;
  gap: 0.75rem;
  display: flex;
}

.title {
  color: #fff;
  height: 100%;
  display: flex;
  align-items: center;
}

.menu-container {
  max-width: 75%;
}